html, body {
    margin: 0;
}
body {
    background-color: hsla(158, 27%, 86%, 0.63);;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: hsla(158, 27%, 86%, 0.63);;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color:rgba(209, 209, 209, 0.733);
    padding: 10px 20px 0px;
}
.header {
    background-color: hsla(158, 27%, 86%, 0.63);
    min-height: 150px;
}
.content {
    background-color: hsla(158, 27%, 86%, 0.63);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color:black(99, 56, 240);
    min-height: 150px;
}